#featured-part{
    width: 100%;
    padding: 350px 0;
    background-image: url(../../../assets/home/featured.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#featured-part .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.614);
    top: 0;
    left: 0;
    position: absolute;
}

#featured-part .btn-read{
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 10px;
    border-bottom: 5px solid white;
    color: orange;
    font-weight: bold;
    transition: .4s;
}

#featured-part .btn-read:hover{
    background-color: #1F2937;
}